.main {
  margin: 0;
  min-height: 70vh;
  background-color: #d3d3d3;
}

.log {
  padding: 40% 0;
}

.image {
  padding: 0;
  width: 500px;
  border-radius: 20px 0 0 20px;
  margin-left: 135px;
}
.imageWrap {
  padding: 0;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

.formContainer {
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(
    to bottom right,
    gray,
    #d5a67d,
    #e2c1a4,
    #cfa988f5,
    #d9af8a,
    #e2c1a4,
    #cfa988f5,
    gray
  );
  width: 500px;
  height: 750px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  border-radius: 0 20px 20px 0;
  /* height: 100%; */
  text-align: center;
  margin: 60px 0;
}
.header {
  font-weight: bold;
  margin: 0;
}

.para {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

span {
  font-size: 12px;
}

Link {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.button {
  border-radius: 20px;
  border: 1px solid gray;
  background-color: gray;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.button:active {
  transform: scale(0.95);
}

.button:focus {
  outline: none;
}
.button:hover {
  cursor: pointer;
  padding: 12px 47px;
}

.button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

.input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 200px;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.socialContainer {
  margin: 20px 0;
  display: inline;
}

.social {
  /* border: 1px solid #dddddd; */
  /* border-radius: 50%; */
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin: 5px;
  /* height: 40px; */
  /* width: 40px; */
}
